[profile.default]
src = "src"
out = "out"
libs = ["lib"]
eth_rpc_url = "https://eth-mainnet.g.alchemy.com/v2/4UjEl1ULr2lQYsGR5n7gGKd3pzgAzxKs"

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
